// style.sass for wpgsa.org
// copyright: Tazro Inutano Ohta inutano@gmail.com

// general

body
  margin:
    top: 86px
  line:
    height: 1.0
  font: 12px

hr
  margin:
    top: .5em
    bottom: 2.0em

footer
  margin:
    top: 10.0em
    bottom: 5.0em
  text:
    align: center
    transform: uppercase
  font:
    style: italic
    size: 66%

// button decolation
a.downloadLink
  display: block
  width: 100%
  margin:
    top: 1.5em
    bottom: 1.5em

// wPGSA index page
.linkExample
  margin:
    top: 1.0em

.loading
  margin:
    top: 1.0em
  font-style: italic

.loading .loadingMsg
  //text-align:center
  //padding-top:100px
  //width:100px
  height: 40px
  line-height: 40px
  padding:
    left: 3.5em
  background-image: url("/images/loading.gif")
  background-position: left top
  background-repeat: no-repeat

span.msg
  display: inline-block
  vertical-align: middle
  line-height: normal

// wPGSA result page
.navButton
  margin:
    top: 1.5em

.helpButton
  padding: 13 16

.description
  line-height: 1.5

img[alt=dataformat]
  width: 1000px

.expLab
  word-wrap: break-word
